.button {
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
  border: none;
  
  font-size: 3rem;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  text-align: center;
  
  color: white;  
  background-color: var(--color-3);

  cursor: pointer;
} 

.loadingAnimation {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  transition: opacity 100ms linear;
  transition-delay: 300ms;

  .loadingCircle {
    height: 1rem;
    width: 1rem;
    border-radius: 100px;
    background-color: white;
    animation: loading-wave 1s ease-in-out infinite;
  }

  .loadingCircle:nth-child(1) {
    animation-delay: 0ms;
  }
  
  .loadingCircle:nth-child(2) {
    animation-delay: 300ms;
  }
  
  .loadingCircle:nth-child(3) {
    animation-delay: 400ms;
  }

  @keyframes loading-wave {
    0%, 100% {
      transform: translateY(0.5rem);
    }
    50% {
      transform: translateY(-0.5rem);
    }
  }
}


@media only screen and (max-width: 1200px) { // for tablet
  .button {
    font-size: 2.5rem;
  }
}