.workspace {
  display: flex;

  main {
    flex: 1;

    display: flex;
    flex-direction: column;

    nav {
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 2;

      .options {
        display: flex;
        gap: 4rem;
        align-items: center;
  
        padding: 1rem;
        height: 5rem;
        border-bottom: 1px solid #5A565D;
  
        .empty {
          flex: 1;
        }
  
        h6 {
          cursor: pointer;
          font-weight: 400;
          font-family: 'Montserrat', sans-serif;
          position: relative;
          color: var(--color-2);
        }
  
        h6::before {
          content: ' ';
          z-index: -1;
          position: absolute;
          border-radius: 100px;
          top: -10%;
          left: -20%;
          height: 120%;
          width: 140%;
          background-color: var(--color-4);
          visibility: hidden;
          opacity: 0;
          transition: all 300ms ease;
        }
  
        h6:hover::before {
          visibility: visible;
          opacity: 1;
        }
      }
  
      .tools {
        min-height: 5rem;
        background-color: #FBFBFB;
        border-bottom: 1px solid #5A565D;

        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
      }
  
      button {
        width: auto;
        font-size: 2rem;
        padding: 0.5rem 1.25rem;
        border-radius: 100px;
      }
    }
  
    .workArea {
      flex: 1;
  
      display: flex;
      gap: var(--spacing-sm);
      padding-top: var(--spacing-sm);
      padding-left: var(--spacing-sm);

      background-color: #FAFAFA;

      .document {
        flex-grow: 1;

        border: 1px solid lightgray;
        background-color: white;
        padding: var(--spacing-md);
        margin-bottom: var(--spacing-sm);

        display: flex;
        flex-direction: column;

        .customBlockQuote {
          padding: var(--spacing-lg);
          background-color: var(--color-6);
          position: relative;
        }

        .customBlockQuote::before, .customBlockQuote::after {
          position: absolute;
          font-family: 'Rokkitt', serif;
          font-size: 4rem;
        }

        .customBlockQuote::before {
          content:'“';
          top: var(--spacing-sm);
          left: var(--spacing-sm);
        }

        .customBlockQuote::after {
          content: '”';
          bottom: 1rem;
          right: var(--spacing-sm);
        }

        h1, h2, h3, h4 {
          font-weight: 600;
        }

        h5 {
          color: var(--color-2);
          border-bottom: 1px solid var(--color-2);
        }

        input {
          width: 100%;
          display: block;
          font-family: 'Rokkitt', serif;
          border: none;
          font-weight: 600;
        }

        input:focus {
          outline: transparent;
          border: transparent;
        }

        input::placeholder {
          opacity: 0.5;
        }

        input:focus::placeholder {
          opacity: 0.8;
        }

        .name {
          font-size: 7rem;
        }

        .type {
          margin-bottom: 2.8rem;
          font-size: 2.5rem;
        }
      }

      .propertiesSidebar {
        width: 52rem;
        background-color: white;
        border: 1px solid var(--color-1);

        .color {
          min-height: 6rem;
          background-color: var(--color-3);
        }

        .properties {
          padding: var(--spacing-sm);
        
          h5 {
            color: var(--color-2);
          }
        
          .property {
            display: flex;
            flex-direction: row;
            border: 1px solid var(--color-1);
            overflow: hidden;
            border-radius: var(--spacing-xxs);
          }
        
          input,
          .propertyValue {
            padding: var(--spacing-xs);
            border: none;
            font-size: 2rem;
          }
        
          input {
            width: calc(100% * var(--gr-little));
            border-right: 1px solid var(--color-1);
            font-family: 'Rokkitt', serif;
            font-weight: 600;
          }
        
          .propertyValue {
            flex: 1;
            resize: vertical;
            background-color: #FAFAFA;
            font-family: 'Montserrat', sans-serif;
            max-height: calc(6rem + var(--spacing-xs)*3);
            overflow-y: auto;
          }
        
          input:focus,
          .propertyValue:focus {
            outline: none;
          }
        }
        
      }
    }
  }
}

.files {
  width: 24rem;
  background-color: var(--color-1);
  height: 100svh;

  position: sticky;
  top: 0;
}

