@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,200;0,400;0,600;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root {
  // for dark theme
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  // brand colors darkest to lightest
  --color-1: #2C282E;
  --color-2: #2F2D6B;
  --color-3: #307ACE;
  --color-4: #A1C5F6;
  --color-5: #FFFCF7; 

  // spacings
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 2rem;
  --spacing-md: 3rem;
  --spacing-lg: 4rem;
  --spacing-xl: 5rem;
  --spacing-xxl: 6rem;

  // golden ratio
  --gr-little: 0.381966;
  --gr-big: 0.618034
}

// Dark-theme off for now

/**
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 12px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb))
}

@media only screen and (max-width: 1600px) { // for desktop that isn't standard 1920x1080
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1200px) { // for tablet
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 600px) { // for larger smarthpones
  html {
    font-size: 6px;
  }
}

@media only screen and (max-width: 360px) { // for standard smartphones
  html {
    font-size: 4px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', serif;
}

h1 { font-size: 7rem; }
h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 3rem; }
h5 { font-size: 2.5rem; }
h6 { font-size: 2rem; }

p {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.DraftEditor-root {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 80rem;
}