.home {
  display: flex;

  main {
    width: calc(100vw * var(--gr-little));
    background-color: var(--color-1);

    .feature {
      padding: var(--spacing-xl);
      height: 100svh;
      border-bottom: 2px solid rgba(255,255,255,0.1);

      display: flex;
      flex-direction: column;

      color: white; 

      .top {
        flex-basis: calc(100% * var(--gr-big));

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {
          h1 {
            line-height: 5rem;
            word-break: break-word;
          }
    
          h3 {
            color: var(--color-4);
            font-weight: 600;
            line-height: 3rem;
          }
    
          p {
            margin-top: 3rem;
            line-height: 2.5rem;
          }

          .specialH1 {
            font-size: 6rem;
          }
        }
      }

      .bottom {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h4 {
          text-align: center;
          font-weight: 400;
        }

        .login {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          input {
            width: 100%;
            padding: 1.5rem;
            border-radius: 1rem;
            
            font-size: 3rem;
            font-family: 'Rokkitt', serif;
            font-weight: 400;
            text-align: left;
            color: white;
            background-color: transparent;
            border: 2px solid white;
          }
          
          input:focus {
            outline: transparent;
          }

          .forget {
            color: var(--color-4);
          }
    
          p {
            text-align: center;
            font-size: 1.4rem;
          }

          .loginMessage {
            opacity: 0.5;
          }

          h4 {
            text-align: center;
          }

          .loadingAnimation {
            height: 12rem;
      
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 2rem;
      
            opacity: 1;
            transition: opacity 100ms linear;
            transition-delay: 300ms;
      
            .loadingCircle {
              height: 1.5rem;
              width: 1.5rem;
              border-radius: 100px;
              background-color: white;
              animation: loading-wave 1s ease-in-out infinite;
            }
      
            .loadingCircle:nth-child(1) {
              animation-delay: 0ms;
            }
            
            .loadingCircle:nth-child(2) {
              animation-delay: 300ms;
            }
            
            .loadingCircle:nth-child(3) {
              animation-delay: 400ms;
            }
      
            @keyframes loading-wave {
              0%, 100% {
                transform: translateY(1rem);
              }
              50% {
                transform: translateY(-1rem);
              }
            }
          }
        }

        .content {
          height: calc(100% * var(--gr-big));
          display: flex;
          flex-direction: column;
  
          p {
            text-align: center;
          }

          .empty {
            flex: 1;
          }
        }
        
        .question {
          cursor: pointer;
          margin-top: 1.5rem;
        }
      }
    }

    .header {
      color: var(--color-4);

      h4 {
        font-weight: 600;
        display: inline;
      }

      h6 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: -0.5rem;
      }

      h5 {
        font-weight: 400;
        color: white;
      }

      .brand {
        display: inline-block;
      }

      .beta {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.6rem;
        margin-left: 0.5rem;

        background-color: var(--color-4);
        padding: var(--spacing-xxs);
        border-radius: var(--spacing-xxs);
        color: var(--color-1);

        font-weight: 600;
        font-family: 'Rokkitt', serif;
      }
    }
  }

  aside {
    flex: 1;
    
    background-color: var(--color-5);

    display: flex;
    justify-content: center;

    background: 
        linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url('../assets/bg2.jpg');
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.moreFeatures {
  padding: var(--spacing-xl);
  height: 65rem;

  background-color: black;
  color: white;

  text-align: center;

  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 2.8rem;
  }

  .featuresWrapper {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;

    .feature {
      border: 2px solid rgba(255,255,255,0.5);
      border-radius:2rem;
      padding: var(--spacing-md);

      display: flex;
      flex-direction: column;

      .imgWrapper {
        flex: 1;
        margin-top: 2.4rem;
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.last {
  padding: var(--spacing-xl);
  height: 58rem;
  background-color: white;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background: 
  linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.85)
  ),
  url('../assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);

  .content {
    width: 85rem;

    .login {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding: 0px 19rem;

      input {
        width: 100%;
        padding: 1.5rem;
        border-radius: 1rem;
        
        font-size: 3rem;
        font-family: 'Rokkitt', serif;
        font-weight: 400;
        text-align: left;
        color: var(--color-1);
        background-color: white;
        border: 2px solid var(--color-1);
      }

      input:first-of-type {
        margin-bottom: 1.5rem;
      }
    }

    button {
      background-color: var(--color-3);
    }
  }

  h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: white;
    box-shadow: 0 0 50px 100px rgba(255, 255, 255, 0.5);
  }

  span {
    color: var(--color-3);
    font-weight: 600;
  }
}

.sampleFooter {
  height: 12.4rem;
  background-color: black;
}

@media only screen and (max-width: 1000px) { // for tablet
  .feature {
    height: 100rem !important;
  }

  .object {
    height: 100rem !important;
  }
}