.home {
  display: flex;

  main {
    width: calc(100vw * var(--gr-little));
    background-color: var(--color-1);

    .feature {
      padding: var(--spacing-xl);
      height: 100svh;
      border-bottom: 2px solid rgba(255,255,255,0.1);

      display: flex;
      flex-direction: column;

      color: white; 

      .top {
        flex-basis: calc(100% * var(--gr-big));

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {
          h1 {
            line-height: 5rem;
            word-break: break-word;
          }
    
          h3 {
            color: var(--color-4);
            font-weight: 600;
            line-height: 3rem;
          }
    
          p {
            margin-top: 3rem;
            line-height: 2.5rem;
          }

          .specialH1 {
            font-size: 6rem;
          }
        }
      }

      .bottom {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .login {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
    
          p {
            text-align: center;
            font-size: 1.4rem;
          }

          h4 {
            text-align: center;
          }
        }

        .content {
          height: calc(100% * var(--gr-big));
          display: flex;
          flex-direction: column;

          h4 {
            text-align: center;
            font-weight: 400;
          }
  
          p {
            text-align: center;
          }

          .empty {
            flex: 1;
          }

          .question {
            margin-top: 1.5rem;
          }
        }
      }
    }

    .header {
      color: var(--color-4);

      h4 {
        font-weight: 600;
        display: inline;
      }

      h6 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: -0.5rem;
      }

      h5 {
        font-weight: 400;
        color: white;
      }

      .brand {
        display: inline-block;
      }

      .beta {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.6rem;
        margin-left: 0.5rem;

        background-color: var(--color-4);
        padding: var(--spacing-xxs);
        border-radius: var(--spacing-xxs);
        color: var(--color-1);

        font-weight: 600;
        font-family: 'Rokkitt', serif;
      }
    }
  }

  aside {
    flex: 1;
    
    background-color: var(--color-5);

    display: flex;
    justify-content: center;

    .object {      
      position: sticky;
      top: 0;

      width: calc(100% * var(--gr-big));
      height: 100svh;
      padding: var(--spacing-xl) 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .form {
        border: 2px solid var(--color-3);
        width: 100%;
        border-radius: var(--spacing-xs);
        overflow: hidden;
        background-color: white;

        .color {
          height: 7.25rem;
          background-color: var(--color-3);
        }

        .content {
          padding: var(--spacing-lg);
        }

        .uniqueInput {
          border: none;
          padding: 0;
        }

        input, textarea {
          width: 100%;
          padding: 1rem;
          border-radius: 1rem;
          border: 2px solid var(--color-3);
          background-color: var(--color-5);
          
          font-size: 2.5rem;
          font-family: 'Rokkitt', serif;
          font-weight: 400;
        }

        input {
          text-align: center;
        }

        textarea {
          resize: none;
          text-align: left;
        }

        input:focus, textarea:focus {
          outline: transparent;
        }

        .propertyGroup {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;

          .property {
            display: flex;
            border: 2px solid var(--color-3);
            border-radius: var(--spacing-xs);
            overflow: hidden;
  
            input {
              border: none;
              border-radius: 0px;
              text-align: left;
            }
  
            input:first-of-type {
              width: calc(100% * var(--gr-little));
              border-right: 2px solid var(--color-3);
              background-color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) { // for tablet
  .feature {
    height: 100rem !important;
  }
}