.page {
  main {
    height: 100svh;

    background: 
      linear-gradient(
      to bottom,
      rgba(255, 252, 247, 0.8),
      rgba(255, 252, 247, 0.8)
    ),
    url('../../assets/bg2.jpg');
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      width: calc(100vw * var(--gr-little));
      padding: var(--spacing-lg);
      border: 2px solid var(--color-1);
      border-radius: 1rem;
      background-color: white;

      text-align: center;

      input {
        font-family: "Montserrat", sans-serif;
        margin-top: var(--spacing-sm);
        margin-bottom: var(--spacing-xs);
        text-align: center;
        border: 2px solid var(--color-1);
        border-radius: 1rem;
        width: 100%;
        padding: 1.5rem;
        font-size: 3rem;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
      }

      button {
        background-color: var(--color-1);
      }

      span {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.blueButton {
  button {
    background-color: var(--color-3) !important;
  }
}