.toolGroup {
  display: inline-block;
}

.toolButton {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toolButton:hover {
  background-color: var(--color-4);
}

.active {
  color: var(--color-3)
}